@import "tailwindcss";

@theme {
  --color-canvas: #F3F0EB;
  --color-ink: #231F20;
  --font-sans: 'Manrope', sans-serif;
  --radius-card: 32px;
}

@layer base {
  body {
    @apply bg-canvas text-ink font-sans antialiased selection:bg-ink selection:text-white;
  }
}